<app-page-content>
  <ng-container header>
    {{ 'operation.info.pageTitle' | translate }} <i>#{{ operation?.id }}</i>
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="addComment()" class="form">

      <section class="info-table-block">
        <div class="item">
          <p class="title">{{ 'operation.info.amount' | translate }}</p>
          <p class="value">{{ operation?.amount }}</p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.price' | translate }}</p>
          <p class="value">{{ operation?.price }}</p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.user' | translate }}</p>
          <p class="value"><a [routerLink]="['/operations']" [queryParams]="{ user: operation?.telegramUserId }">#{{ operation?.telegramUserId }}</a></p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.detail' | translate }}</p>
          <p class="value"><a [routerLink]="['/settings/requisites', operation?.bankDetailId, 'info']">#{{ operation?.bankDetailId }}</a></p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.btcAddress' | translate }}</p>
          <p class="value">{{ operation?.btcAddress }}</p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.date' | translate }}</p>
          <p class="value">{{ operation?.createdAt | date: 'd.MM.yyyy hh:mm' }}</p>
        </div>
        <div class="item">
          <p class="title">{{ 'operation.info.status' | translate }}</p>
          <p class="value" [ngClass]="OPERATION_CLASS[operation?.status]">{{ 'operation.status.' + operation?.status | translate }}</p>
        </div>
      </section>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'operation.info.comment' | translate }}</mat-label>
          <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'operation.info.save' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
