.info-wrapper {
  --info-block-width: auto;

  display: flex;

  .info, .file-wrapper {
    flex: 1;
    min-width: 50%;
    width: 50%;
  }

  .file-wrapper {
    padding-left: 1.5rem;
  }

  .img-wrapper {
    padding: 0 0.5rem;
    cursor: pointer;

    .img {
      max-height: 450px;
      object-fit: contain;
    }
  }
}
