<app-status-info-block
                      class="status-info-block"
                      blockNameI18n="statusInfoBlock.operationsCount.title"
                      [blockInfo]="countOperationsInfo?.operationsCount | decimal"
                      [infoAction]="true"
                      icon="apps"
>
  <ng-container actions>
    <span mat-button class="text-accent">+{{ countOperationsInfo?.operationsCountToday | decimal }} {{ 'statusInfoBlock.operationsCount.today' | translate }}</span>
  </ng-container>
</app-status-info-block>
