<div class="filter-wrapper" [class.show-filter]="showFilter">
  <form (ngSubmit)="onFilter()">
    <div class="form-fields-wrapper">

      <mat-form-field *ngFor="let filterValue of filterValues; let i = index" class="form-field">
        <mat-label>{{ filterFields[i].labelI18n | translate }}</mat-label>
        <input matInput type="text" [name]="filterValue.name" [(ngModel)]="filterValue.value" (ngModelChange)="onChangeValue()">
        <button mat-button type="button" *ngIf="filterValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="filterValue.value=''; onChangeValue()" [title]="'table.filter.clear' | translate">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button mat-icon-button [title]="'table.filter.done' | translate">
        <mat-icon>done</mat-icon>
      </button>

      <button mat-icon-button type="button" [disabled]="disabledFilter" (click)="clearValues()" [title]="'table.filter.clear' | translate">
        <mat-icon>clear</mat-icon>
      </button>

    </div>
  </form>
</div>
