<app-page-content>
  <ng-container header>
    {{ (admin?.id ? 'admin.edit.pageTitle' : 'admin.edit.pageNewTitle') | translate }} <i>{{ admin?.name }}</i>
  </ng-container>
  <ng-container content>
    <section class="info-block">
      <form [formGroup]="form" (ngSubmit)="save()" class="form">

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.edit.input.name' | translate }}</mat-label>
            <input formControlName="name" matInput>
            <mat-error *ngIf="form.get('name').hasError('required')">{{ 'admin.edit.error.nameRequired' | translate }}</mat-error>
            <mat-error><app-input-error name='name' [errors]="errors"></app-input-error></mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.edit.input.email' | translate }}</mat-label>
            <input formControlName="email" matInput placeholder="pat@example.com">
            <mat-error *ngIf="form.get('email').hasError('required')">{{ 'admin.edit.error.emailRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">{{ 'admin.edit.error.email' | translate }}</mat-error>
            <mat-error><app-input-error name='email' [errors]="errors"></app-input-error></mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.edit.input.password' | translate }}</mat-label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" matInput>
            <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password').hasError('required')">{{ 'admin.edit.error.passwordRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">{{ 'admin.edit.error.password' | translate }}</mat-error>
            <mat-error><app-input-error name='password' [errors]="errors"></app-input-error></mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.edit.input.cPassword' | translate }}</mat-label>
            <input formControlName="cPassword" [type]="showPassword ? 'text' : 'password'" matInput>
            <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('cPassword').hasError('required')">{{ 'admin.edit.error.passwordRequired' | translate }}</mat-error>
            <mat-error *ngIf="form.get('cPassword').hasError('minlength')">{{ 'admin.edit.error.password' | translate }}</mat-error>
            <mat-error><app-input-error name='cPassword' [errors]="errors"></app-input-error></mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'admin.edit.input.subscribe' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="subscribe">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startAt"></mat-datepicker>
            <mat-error><app-input-error name='subscribe' [errors]="errors"></app-input-error></mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" [disabled]="form.invalid || inRequest">{{ 'admin.edit.save' | translate }}</button>

      </form>
    </section>
  </ng-container>
</app-page-content>
