<mat-card class="workspace-wrapper">
  <header class="workspace-header">
    <section class="app-container">
      <mat-card>
        132
      </mat-card>
    </section>
    <section class="app-container">
      <mat-card>
        132
      </mat-card>
    </section>
    <section class="app-container">
      <mat-card>
        132
      </mat-card>
    </section>
    <section class="app-container">
      <mat-card>
        132
      </mat-card>
    </section>
  </header>

  <div class="workspace-content">
    <router-outlet></router-outlet>
  </div>
</mat-card>
