<app-page-content>
  <ng-container header>
    {{ 'settings.messages.edit.pageTitle' | translate }} <i>{{ message?.slug }}</i>
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">

      <h3>{{ 'settings.messages.edit.input.description' | translate }}</h3>
      <p [innerHTML]="message?.description"></p>

      <div class="form-group">
        <app-format-editor formControlName="text" [label]="'settings.messages.edit.input.text' | translate" [height]=300></app-format-editor>
        <mat-error><app-input-error name='text' [errors]="errors"></app-input-error></mat-error>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid || inRequest">{{ 'settings.messages.edit.saveBtn' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
