<app-page-content>
  <ng-container header>
    {{ 'settings.messages.edit.pageTitle' | translate }} <i>{{ message?.slug }}</i>
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">

      <h3>{{ 'settings.messages.edit.input.description' | translate }}</h3>
      <p [innerHTML]="message?.description"></p>

      <div class="form-group">
        <label>{{ 'settings.messages.edit.input.text' | translate }}</label>
        <ckeditor formControlName="text" [editor]="Editor" [config]="config"></ckeditor>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'settings.messages.edit.saveBtn' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
