<app-page-content class="page-content">
  <ng-container header>
    {{ 'dashboard.users.title' | translate }}
  </ng-container>
  <ng-container actions>
    <button mat-button class="btn" [color]="period === EChartsPeriod.WEEK ? 'accent' : ''" (click)="changePeriod.emit(EChartsPeriod.WEEK)" [disabled]="inRequest">
      {{ 'dashboard.weekBtn' | translate }}
    </button>
    <button mat-button class="btn" [color]="period === EChartsPeriod.MONTH ? 'accent' : ''" (click)="changePeriod.emit(EChartsPeriod.MONTH)" [disabled]="inRequest">
      {{ 'dashboard.monthBtn' | translate }}
    </button>
  </ng-container>
  <ng-container content>
    <div class="line-chart" *ngIf="chartData$ | async">
      <canvas baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [legend]="chartLegend"
        [chartType]="chartType">
      </canvas>
    </div>
  </ng-container>
</app-page-content>
