<app-page-content class="page-content">
  <ng-container header>
    {{ 'dashboard.users.title' | translate }}
  </ng-container>
  <ng-container actions>
    <button mat-icon-button class="btn" [color]="period === EChartsPeriod.WEEK ? 'accent' : ''" (click)="changePeriod.emit(EChartsPeriod.WEEK)" [disabled]="inRequest" [title]="'dashboard.weekBtn' | translate">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-icon-button class="btn" [color]="period === EChartsPeriod.MONTH ? 'accent' : ''" (click)="changePeriod.emit(EChartsPeriod.MONTH)" [disabled]="inRequest" [title]="'dashboard.monthBtn' | translate">
      <mat-icon>event_note</mat-icon>
    </button>
  </ng-container>
  <ng-container content>
    <div class="line-chart" *ngIf="chartData$ | async">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </ng-container>
</app-page-content>
