:host {
  display: block;
}

$logoSize: 1.7rem;

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .left-side-wrapper {
    display: flex;
    align-items: center;

    .logo-wrapper {
      width: auto;
      font-size: $logoSize;
      font-style: italic;

      .mat-icon {
        width: $logoSize;
        height: $logoSize;
        font-size: $logoSize;
        font-style: normal;
      }
    }

    .toggle-side-wrapper {
      margin-left: 2rem;

      .mat-icon {
        position: relative;
        top: 0.13rem;
        font-size: $logoSize;
        width: $logoSize;
        height: $logoSize;
      }
    }
  }

  .side-block {
    display: flex;
    align-items: center;

    .language {
      margin-right: 0.5rem;
      transition: color 0.5s;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: var(--accent-color);
      }
    }

    .theme-icon {
      position: relative;
      top: 3px;
    }
  }
}
