<app-page-content>
  <ng-container header>
    {{ (message?.id ? 'settings.messages.template.edit.pageTitle' : 'settings.messages.template.new.pageTitle') | translate }} <i>{{ message?.title }}</i>
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.messages.edit.input.title' | translate }}</mat-label>
          <input formControlName="title" type="text" matInput>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.messages.edit.input.slug' | translate }}</mat-label>
          <input formControlName="slug" type="text" matInput>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.messages.edit.input.description' | translate }}</mat-label>
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.messages.edit.input.text' | translate }}</mat-label>
          <textarea formControlName="text" matInput></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'settings.messages.edit.saveBtn' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
