<app-status-info-block
                      class="status-info-block"
                      blockNameI18n="statusInfoBlock.operationsSum.title"
                      [blockInfo]="(operationsSumInfo?.operationsSum | decimal) + ' ' + ('statusInfoBlock.operationsSum.price' | translate)"
                      [infoAction]="true"
                      icon="app_registration"
>
  <ng-container actions>
    <span mat-button class="text-accent">+{{ operationsSumInfo?.operationsSumToday | decimal }} {{ 'statusInfoBlock.operationsSum.price' | translate }} {{ 'statusInfoBlock.operationsSum.today' | translate }}</span>
  </ng-container>
</app-status-info-block>
