<app-status-info-block
                      class="status-info-block"
                      blockNameI18n="statusInfoBlock.status.title"
                      [blockInfo]="('statusInfoBlock.status.inWork' | translate) + status"
                      icon="show_chart"
>
  <ng-container actions>
    <div class="change-status-btn-wrapper">
      <button class="change-status-btn" mat-button color="primary" (click)="changeStatus.emit()">{{ 'statusInfoBlock.status.stopBtn' | translate }}</button>
    </div>
  </ng-container>
</app-status-info-block>
