.mat-button-base {
  .mat-icon ~ * {
    margin-left: 1rem;
  }

  &.three-dots-btn {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &.clear-btn {
    .mat-button-wrapper {
      padding: 0;
    }
  }
}
