mat-cell {
  box-sizing: content-box;
}

.mat-table {
  .mat-header-row {
    .action-header-cell {
      max-width: 40px;
    }
  }

  .mat-column-actions, .action-cell {
    display: flex;
    justify-content: flex-end;

    max-width: 40px;

    .table-action {
      mat-icon {
        width: 19px;
        height: 19px;

        font-size: 19px;
        line-height: 19px;
      }
    }
  }
}
