mat-cell {
  box-sizing: content-box;
}

.mat-table {
  .mat-header-row {
    .mat-header-cell {
      box-sizing: content-box;

      &.action-header-cell {
        max-width: 40px;
      }
    }
  }

  .mat-row {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--primary-color);
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover {
      &:before {
        opacity: 0.1;
      }
    }
  }

  .mat-column-actions, .action-cell {
    display: flex;
    justify-content: flex-end;

    max-width: 40px;

    .table-action {
      mat-icon {
        width: 19px;
        height: 19px;

        font-size: 19px;
        line-height: 19px;
      }
    }
  }
}
