:host {
  display: flex;
  flex: 1;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  border-radius: 0;
  background: linear-gradient(135deg, #d9d9d9 0%, #dadada 11%, #c5c5c5 11%, #f8fdff 63%, #5331a2 63%, #7953d2 70%, #371992 70%, #4527a0 78%, #00002a 78%, #000070 80%);
}

.container {
  display: flex;
  flex: 1;

  .mat-card {
    margin: auto;
    max-width: 100%;

    .form-auth {
      width: 500px;
      max-width: 100%;
      padding: 0.8rem;

      .form-group {
        padding-bottom: 0.5rem;
      }

      .mat-form-field {
        display: block;
      }
    }
  }
}
