<app-page-content>
  <ng-container header>
    {{ 'settings.requisites.info.pageTitle' | translate }} <i>{{ requisite?.title }}</i>
  </ng-container>
  <ng-container actions>
    <a mat-raised-button color="primary" [routerLink]="['/settings/requisites', requisite?.id, 'edit']">
      <mat-icon>edit</mat-icon>
      <span>{{ 'settings.requisites.info.editBtn' | translate }}</span>
    </a>
  </ng-container>
  <ng-container content>
    <section class="info-table-block">
      <div class="item">
        <p class="title">{{ 'settings.requisites.edit.input.title' | translate }}</p>
        <p class="value">{{ requisite?.title }}</p>
      </div>
      <div class="item">
        <p class="title">{{ 'settings.requisites.edit.input.text' | translate }}</p>
        <p class="value text-pre-line">{{ requisite?.text }}</p>
      </div>
      <div class="item">
        <p class="title">{{ 'settings.requisites.edit.input.status' | translate }}</p>
        <p class="value text-accent" *ngIf="requisite?.status"><mat-icon>done</mat-icon></p>
        <p class="value text-warn" *ngIf="!requisite?.status"><mat-icon>clear</mat-icon></p>
      </div>
    </section>
  </ng-container>
</app-page-content>
