@import "styles";

.app-side-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: $app_header_width;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("/assets/bg/sidebar.jpg") no-repeat center;
    background-size: auto;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.09;
  }

  .bottom-items {
    margin-top: auto;
  }

  .nav-item, .nav-group-item {
    position: relative;
    z-index: 2;
    background: transparent;

    @include block-shadow;

    .nav-link {
      flex: 1;
      text-align: left;

      .count {
        display: inline-block;
        padding: 0.3rem;
        line-height: 0.6;
        border-radius: 50%;
        color: var(--light-color);
        background: var(--accent-color);

        &:empty {
          display: none;
        }
      }
    }
  }

  .nav-item {
    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &.user-profile-nav-item {
      height: $app_sidenav_size / 2;

      .nav-link {
        display: flex;
        align-items: center;
        height: $app_sidenav_size / 2;

        .mat-button-wrapper {
          display: block;

          .info-wrapper {
            display: flex;
            align-items: center;

            .user-logo {
              margin-right: 0.5rem;
            }

            .fio {
              @include threeDots;
              font-size: 1.1rem;
            }
          }

          .subscription-wrapper {
            display: block;
          }
        }
      }
    }
  }

  .nav-group-item {
    .mat-expansion-panel-header {
      padding: 0 1rem;
    }
  }
}
