<mat-nav-list class="app-side-nav">
  <mat-list-item class="nav-item user-profile-nav-item">
    <a mat-button disableRipple="true" class="nav-link three-dots-btn" routerLink="/profile">
      <span class="mat-button-wrapper">
        <span class="info-wrapper">
          <span class="user-logo">{{ userFacade.user$ | async | logoName }}</span>
          <span class="fio">{{ (userFacade.user$ | async)?.name }}</span>
        </span>
        <span class="subscription-wrapper" [title]="'sideNav.userInfo.hoverTitle' | translate">
          <span class="subscription">{{ 'sideNav.userInfo.subscription' | translate: { days: 7 } }}</span>
        </span>
      </span>
    </a>
 </mat-list-item>

 <mat-list-item class="nav-item">
  <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/dashboard">
     <mat-icon>dashboard</mat-icon>
     <span>{{ 'sideNav.dashboard' | translate }}</span>
  </a>
</mat-list-item>
  <mat-list-item class="nav-item" *ngIf="(userFacade.user$ | async)?.role === EUserRoleDto.SUPER_ADMIN">
  <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/admins">
     <mat-icon>supervisor_account</mat-icon>
     <span>{{ 'sideNav.admins' | translate }}</span>
  </a>
</mat-list-item>
 <mat-list-item class="nav-item">
  <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/users">
     <mat-icon>people</mat-icon>
     <span>{{ 'sideNav.users' | translate }}</span>
  </a>
</mat-list-item>
 <mat-list-item class="nav-item">
  <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/operations">
     <mat-icon>attach_money</mat-icon>
     <span>{{ 'sideNav.operations' | translate }}</span>
  </a>
</mat-list-item>
 <mat-list-item class="nav-item">
  <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/mailing">
     <mat-icon>mail_outline</mat-icon>
     <span>{{ 'sideNav.mailing' | translate }}</span>
  </a>
</mat-list-item>

<mat-expansion-panel class="nav-group-item">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <button mat-icon-button disableRipple="true" class="nav-link">
        <mat-icon>settings</mat-icon>
        <span>{{ 'sideNav.settings.title' | translate }}</span>
      </button>
    </mat-panel-title>
  </mat-expansion-panel-header>

   <mat-list-item class="nav-item">
    <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/settings/common">
       <mat-icon>perm_data_setting</mat-icon>
       <span>{{ 'sideNav.settings.common' | translate }}</span>
    </a>
  </mat-list-item>
   <mat-list-item class="nav-item">
    <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/settings/messages">
       <mat-icon>message</mat-icon>
       <span>{{ 'sideNav.settings.messages' | translate }}</span>
    </a>
  </mat-list-item>
   <mat-list-item class="nav-item">
    <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/settings/commissions">
       <mat-icon>monetization_on</mat-icon>
       <span>{{ 'sideNav.settings.commission' | translate }}</span>
    </a>
  </mat-list-item>
   <mat-list-item class="nav-item">
    <a mat-icon-button disableRipple="true" class="nav-link" routerLink="/settings/requisites">
       <mat-icon>info</mat-icon>
       <span>{{ 'sideNav.settings.requisites' | translate }}</span>
    </a>
  </mat-list-item>

</mat-expansion-panel>

<div class="bottom-items">
  <mat-list-item class="nav-item">
    <button mat-icon-button disableRipple="true" class="nav-link" (click)="userFacade.logout()">
       <mat-icon>exit_to_app</mat-icon>
       <span>{{ 'sideNav.logout' | translate }}</span>
    </button>
  </mat-list-item>
</div>

</mat-nav-list>
