<app-page-content>
  <ng-container header>
    {{ 'mailing.pageTitle' | translate }}
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="addMessage()" class="form">

      <div class="form-group">
        <label>{{ 'mailing.message' | translate }}</label>
        <ckeditor formControlName="message" [editor]="Editor" [config]="config"></ckeditor>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'mailing.send' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
