<app-page-content>
  <ng-container header>
    {{ 'mailing.pageTitle' | translate }}
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="addMessage()" class="form">

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'mailing.message' | translate }}</mat-label>
          <textarea formControlName="message" matInput></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'mailing.send' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
