@import "./styles/styles";
@import "./styles/theme/colors";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--font-color);
}

a, button {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.app-container {
  padding: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-success {
  color: var(--success-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-warn {
  color: var(--warn-color);
}

.user-logo {
  $logo_size: 2.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $logo_size;
  height: $logo_size;
  min-width: $logo_size;
  min-height: $logo_size;

  color: var(--light-color);
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 50%;
  background: var(--primary-color);
}

ckeditor .ck-content {
  background: transparent !important;
}
