<app-page-content>
  <ng-container header>
    {{ 'settings.keys.pageTitle' | translate }}
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="saveKeys()" class="form">

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.keys.coinbaseKey' | translate }}</mat-label>
          <input formControlName="coinbaseKey" type="text" matInput>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.keys.coinbaseSecret' | translate }}</mat-label>
          <input formControlName="coinbaseSecret" type="text" matInput>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'settings.saveBtn' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
