<app-page-content>
  <ng-container header>
    {{ 'admin.profile.pageTitle' | translate }} <i>{{ user?.name }}</i>
  </ng-container>
  <ng-container actions>
    <a mat-raised-button color="primary" routerLink="/profile/edit">
      <mat-icon>edit</mat-icon>
      <span>{{ 'admin.profile.editAdmin' | translate }}</span>
    </a>
  </ng-container>
  <ng-container content>
    <section class="info-table-block">
      <div class="item">
        <p class="title">{{ 'common.name' | translate }}</p>
        <p class="value">{{ user?.name }}</p>
      </div>
      <div class="item">
        <p class="title">{{ 'common.email' | translate }}</p>
        <p class="value">{{ user?.email }}</p>
      </div>
      <div class="item">
        <p class="title">{{ 'common.role' | translate }}</p>
        <p class="value" [ngClass]="{ 'text-primary': user?.role === EUserRoleDto.SUPER_ADMIN, 'text-accent': user?.role === EUserRoleDto.ADMIN }">{{ ('common.roles.' + user?.role) | translate }}</p>
      </div>
    </section>
  </ng-container>
</app-page-content>
