<app-page-content>
  <ng-container header>
    {{ (commission?.id ? 'settings.commissions.edit.pageTitle' : 'settings.commissions.new.pageTitle') | translate }}
  </ng-container>
  <ng-container content>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.commissions.edit.input.from' | translate }}</mat-label>
          <input formControlName="from" type="number" min="0" step="0.0001" matInput>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.commissions.edit.input.to' | translate }}</mat-label>
          <input formControlName="to" type="number" min="0" step="0.0015" matInput>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'settings.commissions.edit.input.percent' | translate }}</mat-label>
          <input formControlName="percent" type="number" min="0" step="0.1" matInput>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" [disabled]="form.invalid">{{ 'settings.commissions.edit.saveBtn' | translate }}</button>

    </form>
  </ng-container>
</app-page-content>
