@import 'styles';

.app-wrapper {
  height: 100vh;
  padding-top: $app_header_width;

  .app-side-nav {
    width: $app_sidenav_size;
  }

  .app-content-wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    z-index: 3;

    .app-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: $app_header_z;
    }

    .content-scroll-block {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;

      .app-main {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
}
