<mat-drawer-container class="app-wrapper" autosize [ngClass]="{ 'dark-mode': uiFacade.isDarkTheme$ | async }">

  <mat-drawer #drawer [opened]="uiFacade.showSideNav$ | async" *ngIf="adminFacade.admin$ | async" class="app-side-nav" mode="side">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <mat-drawer-content class="app-content-wrapper">
    <app-header class="app-header"></app-header>

    <main class="app-main">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </mat-drawer-content>

</mat-drawer-container>
