.app-wrapper {
  height: 100vh;

  .app-sidenav {
    width: 200px;
  }

  .app-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
