<mat-table [dataSource]="items" class="app-table" matSort (matSortChange)="sortData.emit($event)">

  <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">

    <ng-container *ngIf="!tableColumn.actionData">
      <mat-header-cell mat-sort-header [disabled]="!tableColumn.sort" *matHeaderCellDef>
        {{ tableColumn.nameI18n | translate }}
      </mat-header-cell>
    </ng-container>

    <ng-container *ngIf="tableColumn.actionData">
      <mat-header-cell *matHeaderCellDef class="action-header-cell"></mat-header-cell>
    </ng-container>

    <ng-container *ngIf="!tableColumn.actionData">
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!tableColumn.translate && !tableColumn.icon">
          <span class="bold" [ngClass]="tableColumn.class ? tableColumn.class(row) : ''" *ngIf="tableColumn.type === ETableColumnType.STRING">{{ tableColumn.value ? tableColumn.value(row) : row[tableColumn.name] }}</span>
          <span class="bold" [ngClass]="tableColumn.class ? tableColumn.class(row) : ''" *ngIf="tableColumn.type === ETableColumnType.DATE">{{ (tableColumn.value ? tableColumn.value(row) : row[tableColumn.name]) | date: 'd.MM.yyyy hh:mm' }}</span>
        </ng-container>
        <ng-container *ngIf="tableColumn.translate && !tableColumn.icon">
          <span class="bold" [ngClass]="tableColumn.class ? tableColumn.class(row) : ''">{{ tableColumn.translate(row) | translate }}</span>
        </ng-container>
        <ng-container *ngIf="tableColumn.icon">
          <button mat-icon-button><mat-icon [ngClass]="tableColumn.class ? tableColumn.class(row) : ''">{{ tableColumn.icon(row) }}</mat-icon></button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container *ngIf="tableColumn.actionData">
      <mat-cell *matCellDef="let row" class="action-cell">
        <a mat-icon-button *ngIf="tableColumn.actionData.actionType === ETableColumnActionType.LINK" class="table-action" [routerLink]="tableColumn.actionData.link(row)">
          <ng-container *ngIf="tableColumn.actionData.icon">
            <mat-icon>{{ tableColumn.actionData.icon }}</mat-icon>
          </ng-container>
          <ng-container *ngIf="!tableColumn.actionData.icon">
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.INFO">info_outline</mat-icon>
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.EDIT">edit</mat-icon>
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.DELETE">delete_outline</mat-icon>
          </ng-container>
        </a>

        <button mat-icon-button *ngIf="tableColumn.actionData.actionType === ETableColumnActionType.EVENT" (click)="setEvent(tableColumn.actionData.eventType, row)" class="table-action">
          <ng-container *ngIf="tableColumn.actionData.icon">
            <mat-icon>{{ tableColumn.actionData.icon }}</mat-icon>
          </ng-container>
          <ng-container *ngIf="!tableColumn.actionData.icon">
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.INFO">info_outline</mat-icon>
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.EDIT">edit</mat-icon>
            <mat-icon *ngIf="tableColumn.actionData.eventType === ETableColumnActionEventType.DELETE && (!tableColumn.actionData.hide || !tableColumn.actionData.hide(row, currentUserId))">delete_outline</mat-icon>
          </ng-container>
        </button>

      </mat-cell>
    </ng-container>

  </ng-container>

  <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row *matRowDef="let row; let even = even; columns: columnNames" [class.accent]="even">
  </mat-row>
</mat-table>

