$iconSize: 55px;
$blockH: 175px;

.app-container {
  height: $blockH;
  display: flex;

  .mat-card {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    .mat-card-actions {
      margin: auto -16px 0 -16px;

      &.info-action {
        margin: auto 0 0;
      }
    }
  }
}

.mat-card-header {
  display: flex;
  justify-content: space-between;

  .icon-block {
    .icon-wrapper {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: $iconSize;
      min-width: $iconSize;
      height: $iconSize;
      border-radius: 50%;
    }
  }
}
