<app-page-content-table
                        [tableColumns]="tableColumns"
                        [inRequest]="inRequest" [items]="operations"
                        [filterFields]="filterFields"
                        [initFilterValues]="initFilterValues"
                        [paginator]="paginator"
                        (getList)="getOperationsList($event)"
                        (eventRow)="eventOperation($event)"
>
  <ng-container table-title>
    {{ 'operations.tableHeader.title' | translate }}
  </ng-container>
</app-page-content-table>
