@import '~@angular/material/theming';
@import './mat-colors';
@import './mat-components/mat-components';

@include mat-core();

$app-primary: mat-palette($mat-primary);
$app-accent:  mat-palette($mat-accent);
$app-warn:    mat-palette($mat-warn);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$app-dark-primary: mat-palette($mat-primary-dark);
$app-dark-accent:  mat-palette($mat-accent-dark);
$app-dark-warn:    mat-palette($mat-warn);

$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);

.dark-mode {
  @include angular-material-theme($app-dark-theme);
}
