<app-settings-common-limits class="limits-form" [inRequest]="inRequest" [limitSettings]="limitSettings" (changeValue)="saveLimits($event)"></app-settings-common-limits>

<div class="bottom-block">
  <app-settings-common-telegram class="telegram-form" [inRequest]="inRequest" [telegramSettings]="telegramSettings" (changeValue)="saveTelegram($event)"></app-settings-common-telegram>
  <app-settings-common-keys class="keys-form" [inRequest]="inRequest" [keysSetting]="keysSetting" (changeValue)="saveKeys($event)"></app-settings-common-keys>
</div>
